<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>AlgoMaster</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/rate.js"></script>
</head>

<body>
    <%- include('../blocks/header') -%>
        <main>
            <div class="user-profile-container">
                <div class="user-profile">
                    <div class="profile-info">
                        <h2>Пользователь</h2>
                        <p>
                            <span class="profile-label">Имя:</span>
                            <span class="profile-value">
                                <%= username %>
                            </span>
                        </p>
                        <p>
                            <span class="profile-label">Email:</span>
                            <span class="profile-value">
                                <%= email %>
                            </span>
                        </p>
                        <p>
                            <span class="profile-label">Role:</span>
                            <span class="profile-value">
                                <%= role %>
                            </span>
                        </p>
                        <p>
                            <span class="profile-label">Рейтинг:</span>
                            <span class="profile-value">
                                <%= averageRating.toFixed(1) %>
                            </span>
                        </p>
                            <div class="user-rating-form">
                                <form action="/admin/user/<%= user._id %>/rate" method="POST" class="user-rating-form">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <label for="rating">Рейтинг:</label>
                                    <input type="number" name="rating" id="rating">
                                    <button type="submit">Проставить рейтинг</button>
                                </form>
                            </div>
                    </div>
                </div>
                <div class="user-content">

                    <div class="user-comments">
                        <h2>Участие в обсуждении</h2>
                        <ul>
                            <% tasks.forEach(task => { %>
                                <li>
                                    <a href="/submit/<%= task._id %>">
                                        <%= task.title %>
                                    </a>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <p>Все права защищены &copy; 2024</p>
        </footer>
</body>

</html>