<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>AlgoMaster</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('blocks/header') -%>
        <main>
            <h1>Изменение задачи</h1>
            <div class="createTask">
                <form action="/editTask/<%= task._id %>/?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <label for="title">Название задачи</label>
                    <input type="text" id="title" name="title" value="<%= task.title %>" required>
                    <label for="description">Описание задачи:</label>
                    <input type="text" id="description" name="description" value="<%= task.description %>" required>
                    <label for="difficulty">Уровень сложности:</label>
                    <select id="difficulty" name="difficulty" required>
                        <option value="none">-</option>
                        <option value="easy" <%=task.difficulty==='easy' ? 'selected' : '' %>>Легкая</option>
                        <option value="medium" <%=task.difficulty==='medium' ? 'selected' : '' %>>Средняя</option>
                        <option value="hard" <%=task.difficulty==='hard' ? 'selected' : '' %>>Сложная</option>
                    </select>

                    <label for="tags">Теги (разделить запятой):</label>
                    <input type="text" id="tags" name="tags" value="<%= task.tags.join(',') %>" required>

                    <label for="files">Прикрепить файлы:</label>
                    <input type="file" id="files" name="files" multiple>

                    <label for="links">Ссылки (введите в формате "url|title"):</label>
                    <input type="text" id="links" name="links"
                        value="<%= task.links.map(link => `${link.url}|${link.title}`).join(',') %>">

                    <button type="submit">Сохранить задачу</button>
                </form>
            </div>
        </main>
        <footer>
            <p>Все права защищены &copy; 2024</p>
        </footer>
</body>

</html>